Part 1: Data Exploration with Pandas (30 Points)

You will explore the California housing dataset in more detail and perform the following tasks. You can find the dataset downloaded by default in your Colab Environment in the sample_data folder:(/content/sample_data/california_housing_train.csv)

Load the Dataset
1. Load the dataset from the CSV file into a Pandas DataFrame.
2. Display the first 5 and last 10 rows of the data.

In [ ]:
import pandas as pd

dframe = pd.read_csv('/content/sample_data/california_housing_train.csv')
print(dframe.iloc[[0,1,2,3,4,-10, -9, -7, -6, -5, -4, -3, -2, -1]])

Data Summary
1. Get a statistical summary of the dataset to examine the numerical columns.
2. Identify the unique values in the total_bedrooms column and determine how many distinct values it has.

In [ ]:
import pandas as pd

main_df = pd.read_csv('/content/sample_data/california_housing_train.csv')
print(main_df.describe())
unique_vals = main_df['total_bedrooms'].unique()
print(unique_vals)
print(len(unique_vals))

Data Transformation
1. Add a new column to the DataFrame named total_bedrooms_per_total_rooms, calculated as total_bedrooms / total_rooms.
2. Compute the mean and standard deviation of the new column (total_bedrooms_per_total_rooms) and report these values.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df['total_bedrooms_per_total_rooms'] = df['total_bedrooms']/df['total_rooms']

print(df['total_bedrooms_per_total_rooms'].mean())
print(df['total_bedrooms_per_total_rooms'].std())

Data Filtering
1. Filter the dataset to find rows where the median_income is greater than 5.
2. Create a subset of the data where the number of rooms (total_rooms) exceeds 10,000 and the median_house_value is below $150,000. Display this filtered subset.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_train.csv')
filtered_rows = df[df['median_income']>5]

subset = df[(df['total_rooms']>10000) & (df['median_house_value']<150000)]
print(subset.to_string())

Export Modified Data
1. Save the modified DataFrame (after adding the extra column) to a new CSV file.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df['total_bedrooms_per_total_rooms'] = df['total_bedrooms']/df['total_rooms']

print(df['total_bedrooms_per_total_rooms'].mean())
print(df['total_bedrooms_per_total_rooms'].std())

df.to_csv('new_file.csv')

Part 2: Numerical Analysis with NumPy (30 Points)

Array Creation and Indexing

1 Create a 1D NumPy array of integers from 1 to 20.   
2 Extract the even numbers from this array using slicing.

In [2]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

print(arr)

#extracting the even integers

even = arr[1::2]

print(even)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 2  4  6  8 10 12 14 16 18 20]

3 Create a 2D array with 5 rows and 4 columns, filled with random integers between 10 and 100.      

4 Extract a 3x2 subarray from the 2D array (e.g., first three rows, first two columns).

In [ ]:
import numpy as np

arr = np.random.randint(10,100, size=(5,4))

print(arr)

print(arr[0:2,0:3])

Part 3: Problem Solving with Python Basics (20 Points)

Loops and Conditional Statements

1 Print the Fibonacci sequence up to 100 using a loop.

In [ ]:
a=0
b=1
c=a+b
while c<100:
    print(c)
    a=b
    b=c
    c=a+b

2 Loop through the numbers from 1 to 50 and print:
"Fizz" for multiples of 3.
"Buzz" for multiples of 5.
"FizzBuzz" for multiples of both 3 and 5.

In [ ]:
a=int(input())
for a in range(1,51):
 if a%15==0:
      print("FizzBuzz")
 elif a%3==0:
      print("Fizz")
 elif a%5==0:
      print("Buzz")
 else:
      print(a)

Variable-Length Arguments

3 Write a solution that accepts a list of numbers and returns the median value.

In [ ]:
import statistics
def new_median(nums): #type(nums)= <class 'list'>
  return statistics.median(nums)

4 Write a solution that accepts a variable number of arguments and returns the average of the numbers.

In [ ]:
import statistics
def new_mean(*args):
  return statistics.mean(args)

Error Handling

Handle the case where a division by zero occurs and print an appropriate error message

In [ ]:
try:
    print(1/0)
except ZeroDivisionError:
    print('Go study basic math')

Part 4: Bonus Challenge (Optional) (20 Points)

Advanced NumPy Manipulation

1.  Create a 3D NumPy array with specific dimensions and populate it with random numbers.          
2. Swap two of its axes.
3. Perform an operation to calculate the sum of all the elements along a particular axis.

In [ ]:
import numpy as np

txt= np.random.randint(1,101,size=(4,5,6))
print(txt)

#swapping the axes

newtxt=np.swapaxes(txt,0,2)
print(newtxt)

#finding the sum along an axis

summision= np.sum(txt,axis=0)
print(summision)

4. Generate a random array and use broadcasting to perform an operation that adds a vector to each row of a 2D array.

In [ ]:
txt = np.random.randint(1,20,size=(4,3))
adder = [1,4,9]
print(txt)
print(txt+adder)